body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;   
}

.header {
    width: 960px;
    padding: 20px;
    margin-top: 10px;   
    background-color: #ebebeb;
}

.Nav {
    width: 960px;
    padding: 20px;
    margin-top: 10px;
    background-color:#ebebeb;
}

.aside {
    float: right;
    width: 445px;
    height: 340px;
    margin-top: 20px;
    margin-right: 345px;
    background-color: #ebebeb;
    color: #777;
    clear: auto;
}

.section {
    float: left;
    width: 495px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ebebeb;
}

.article {
    width: 495px;
    height: 220px;
    margin-bottom: 20px;
    background-color: #777777; 
    color: #ebebeb; 
}

.title {
    width: 470px;
    height: 50px;
    padding: 5px 0px 10px 0px;
    margin-top: 50px;
    margin-left: 8px;
    background-color: #ebebeb;
    color: #777;
    clear: both;  
}

.p {
    width: 470px;
    height: 50px;
    padding: 5px 0px 5px 0px;
    margin-top: 30px;
    margin-left: 5px;
 
    background-color: #ebebeb;
    color: #777;
}

.footer {
    width: 960px;
    margin-top: 30px;
    padding: 20px;
    background-color: #ebebeb;
    color: #777;
    clear: both;
}
